<div class ="banner"><div class="container">
    <h1>  Welcome in Ghost House </h1>
    <p> Discover all our haunted houses !</p>

    <%= link_to "Discover our houses", offers_path, :class => "purple-btn" %>
  </div></div>
<div class ="content">
<div class ="card-container">
  <%= render 'offers/cards', limit: 3 %>
</div>
<div class="text-white">
<p> Do you own a haunted house ? </p>
</div>
<div class="btn-purple-center">
  <%= link_to "Rent your haunted house !", new_offer_path, :class => "purple-btn" %>
  </div>

</div>

<% console %>
