<h1>Congratulations on your booking! Your reservation is validated</h1>

<p>Details of your reservation:</p>

<ul>
  <li>Your host :</li>
  <li>Date of arrival : <%= @reservation.arrival%></li>
  <li>Date of departure : <%= @reservation.departure%></li>
</ul>