.purple-btn {
  background-color: #7f5af0;
  border-style: solid;
  box-sizing: border-box;
  color: #FFFFFF !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.purple-btn:hover,
.purple-btn:focus {
  background-color: #2cb67d;
  text-decoration: none;
}

.btn-purple-center {
  text-align: center;
}

.container-btns {
  display: flex;
  justify-content: space-around;
  
}
