
.simple_form.new_offer {
  input {
.button-index-show{
    color: black;

}


  }
}

.form-container {
  width: 600px;
  margin: 0 auto;
  background-color: #fffffe;
  padding: 6px;
  border: 2px #7f5af0 solid;
}


  h1 {
    text-align: center;
  }

.form-actions {
  display: flex;
  justify-content: center;

}

.form-inputs blacktext {
  color: black;
}


.form-inputs .form-group label {
  color: black;
}

.whitetext {
  color: white;
}

.whitetext .form-group label {
color: white !important;
}