.navbar {
  justify-content: space-between;
  background: #16161A;
  color: #fffffe;
}
.navbar a {
  color: #16161A;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

li {
  list-style-type: none;
}

li::marker {
  display:none;
}
